/* style.css */
body {
    margin: 0;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }
  
  #player {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
  }
  