body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0;          /* remove default body margin */
    padding: 20px;      /* spacing from edges */
    align-items: center; /* center all flex items horizontally */
    background-color: magenta;
}

h1 {
    margin-top: 0;      /* optional: remove extra margin */
    text-align: center; /* center text */
}


#player {
    width: 50%;            /* take 80% of parent container width */
    height: 50%;
    aspect-ratio: 16 / 9;  /* height will adjust automatically */
    background-color: #000;
    border-radius: 8px;
}